{% extends 'base.html.twig' %}

{% block title %}New Artist{% endblock %}

{% block body %}
    <h1>Create new Artist</h1>

    {{ include('artist/_form.html.twig') }}

    <a href="{{ path('app_artist_index') }}">back to list</a>
{% endblock %}
