<style>

    body{
        background-image:url("images/music.jpg"); ;
        background-size: 200% 200%;
        animation: gradient 80s ease infinite;
        padding: 0;
        margin: 0;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .headline{
        background-image:url("images/headline.jpg") ;
        display: block;
        opacity: 0.6;


    }
    .home  img{
        max-width:230px;
        max-height:80px;
        width: auto;
        height: auto;

    }


    .home1{

        position:absolute;
        left: 37%;
        top: 4.2%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        text-decoration: none;
        width: 110px;
        color: aquamarine;
        height:80px;
        border: 0px;
        background-color: unset;
        transition: 0.5s;
        opacity: 0.7;
        font-weight:bold;
    }
    .home2{
        position:absolute;
        left: 50%;
        top: 4.2%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        text-decoration: none;
        width: 110px;
        background-color: unset;
        color: aquamarine;
        height:80px;
        border: 0px;
        transition: 0.5s;
        opacity: 0.7;
        font-weight:bold;
    }
    .home3{
        position:absolute;
        left: 63%;
        top: 4.2%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        text-decoration: none;
        width: 110px;
        background-color: unset;
        color: aquamarine;
        height:80px;
        border: 0px;
        transition: 0.5s;
        opacity: 0.7;
        font-weight:bold;
    }
    .home4{
        position:absolute;
        left: 78%;
        top: 4.2%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        text-decoration: none;
        width: 110px;
        background-color: unset;
        color: aquamarine;
        height:80px;
        border: 0px;
        transition: 0.5s;
        opacity: 0.7;
        font-weight:bold;
    }
    .login{
        position:absolute;
        left: 95%;
        top: 4.2%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        text-decoration: none;
        background-color: aquamarine;
        color: rgb(0, 0, 0);
        height:76px;
        width:150px;
        border: 0px;
        transition: 0.5s;
        opacity: 0.7;
        font-weight:bold;
    }
    .get-start{
        position:absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 60%;

    }
    a:hover button.home1{
        background-color: aquamarine;
        color: rgb(0, 0, 0);
        opacity: 0.4;

    }
    a:hover button.home2{
        background-color: aquamarine;
        color: rgb(0, 0, 0);
        opacity: 0.4;
    }
    a:hover button.home3{
        background-color: aquamarine;
        color: rgb(0, 0, 0);
        opacity: 0.4;
    }
    a:hover button.home4{
        background-color: aquamarine;
        color: rgb(0, 0, 0);
        opacity: 0.4;
    }
    a:hover button.login{
        background-color: aquamarine;
        color: rgb(0, 0, 0);
        opacity: 0.9;
    }
    body .bia img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:  1300px;
        margin-top: 30px;
        height: auto;
        opacity: 0.8;
    }

</style>

</head>
<div class = "headline">
    <a class="home"><img src="images/home.png"></a>
</div>
<a href= {{ path('app_home') }}>
    <button  class="home1">Home</button>
</a>
<a>
    <button class="home2">Blog</button>
</a>
<a>
    <button class="home3">Company</button>
</a>
<a>
    <button class="home4">Music</button>
</a>
<a href={{ path('app_login') }}>
    <button class="login">Login</button>
</a>

</head>
